.Console {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee;
  height: 100vh;
}
.Console table {
  margin: 10vh auto 0;
  width: 67vw;
  height: 50vh;
  text-align: center;
  font-size: 35px;
  background: #ffffff;
  color: #000;
  border: 1px solid #333;
}
.Console table td:hover {
  background: #666;
  color: #fff;
}
.Console .back {
  display: block;
  width: 300px;
  height: 100px;
  font-size: x-large;
  margin: 100px auto 0px;
}
