/* styles.css */
html {
  background: #dce5ce;
}
.scroll-box::-webkit-scrollbar {
  display: none;
}
.hide {
  display: none;
}
/* Add styles here to customize the appearance of your app */
.CardBox {
  display: flex;
}
.Hub {
  display: none;
}
.Card {
  width: 12.5vw;
}
.Card .cardFace {
  width: 100%;
  height: calc((100vw - 80px) * 1.66 / 8);
}
.Card .arrow {
  width: 17%;
  margin: 0px 41.5%;
  opacity: 0;
}
.CardSearch input {
  width: 72%;
  height: 30px;
  margin: 6px 0.5% 6px;
  font-size: 29px;
}
.CardSearch .avatar {
  width: 90px;
}
.CardSearch .career {
  width: 90px;
}
.CardSearch img {
  width: 100%;
}
.CardSearch .cardHandle {
  display: flex;
}
.CardSearch .bar00 {
  display: flex;
  width: 100vw;
  align-items: flex-end;
}
.CardSearch .tip span {
  background: #fff;
  margin: 0 5px;
}
.CardSearch .preInput {
  width: 8%;
  margin: 6px 0.5% 6px;
  font-size: 29px;
}
.CardSearch .preInput button {
  height: 35px;
  width: 100%;
}
.cardPos {
  width: 16%;
  margin: 6px 1% 6px;
}
.cardPos button {
  height: 35px;
  width: 45%;
  background: #ffffff;
  color: #000;
  border: 1px solid #333;
}
.cardPos button:hover {
  background: #333;
  color: #fff;
}
.cardBtn {
  width: 96px;
  height: 38px;
  margin: 3px 2px;
}
.selection {
  margin-top: 6px;
  width: 100%;
}
.levelG button {
  width: 27%;
  height: 30px;
  padding: 0;
  border-color: #fff;
  border-style: solid;
}
.levelG .on {
  border-color: black;
}
.levelG .one {
  background-color: #ede5da;
}
.levelG .two {
  background-color: #f5be76;
}
.levelG .three {
  background-color: #ffff23;
}
.CardBoxTitle {
  display: flex;
  color: #fff;
  margin: 3px auto;
}
.CardBoxTitle h3 {
  font-size: 15px;
  margin: 0px 0px;
  padding: 0px 10px;
}
.CardBoxTitle span {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  padding-left: 8px;
  border-left: 3px solid #00000059;
}
.CardBoxTitle span input {
  margin: 0px 2px;
  border: none;
  color: #cfced9;
  text-align: center;
  width: 30px;
  background: #00000000;
}
.CardBoxTitle .resetBox {
  font-size: 12px;
  border: none;
  padding: 0px 10px;
  margin: 0px 0px;
  background: #0000006b;
  color: #d9cece;
}
.CardBoxTitle .resetBox:hover {
  background: #ffffffc7;
  color: #000000;
}
.selfCardBoxTitle {
  background-color: #104578;
}
.enemyCardBoxTitle {
  background-color: #6c3636;
}
.RoleInput {
  width: 80px;
  padding: 0 2px;
  font-size: 12px;
}
.RoleInput select {
  border: none;
  width: 100%;
}
.RoleInput img {
  width: 100%;
}
button {
  background: #ffffff;
  color: #000;
  border: 1px solid #333;
}
button:hover {
  background: #333;
  color: #fff;
}
.likeButton {
  background: #ffffff;
  color: #000;
  border: 1px solid #333;
}
.likeButton:hover {
  background: #333;
  color: #fff;
}
