.Feedback {
  position: fixed;
  width: 100%;
  background: none;
  height: 30vh;
  bottom: 0;
}
.Feedback .close {
  position: relative;
  top: 0;
  font-weight: bold;
  font-size: 14px;
  width: 94%;
  height: 25px;
}
.Feedback h1 {
  position: absolute;
  left: 4vw;
  top: 4vh;
  margin: 0px;
  background: #fff;
  /* margin: 0 auto; */
}
.Feedback .body {
  width: 90vw;
  overflow-x: clip;
  padding: 1vh;
  overflow-y: scroll;
  margin: 0 auto;
  height: 20vh;
  background: #ffffffdb;
}
.Feedback form {
  margin: 10px 0 10px;
  font-size: 20px;
}
.Feedback form select {
  width: 200px;
  font-size: 17px;
}
.Feedback textarea {
  width: 99%;
  height: 45%;
  font-size: 18px;
}
.Feedback button {
  width: 200px;
  height: 32px;
  display: block;
  font-size: 17px;
  margin: 0 auto;
}
.Feedback .tip {
  color: red;
}
