.hide {
    display: none;
}

.cards {
    display: flex;
}

.Card {
    flex: 1;
}
.Card img{
    width: 100%;
    height: 21vw;
}







.shortwin {
    max-height: 320px;
    overflow-y: scroll;
}

