.hide {
    display: none;
}

.role {
    width: 60px;
    height: 60px;
}

.cards {
    display: flex;
}

.eCards {
    display: flex;
}

.Card {
    flex: 1;
}


.Card img {
    width: 100%;
    height: calc((100vw - 60px) * 1.66 / 8);
}


.fightLog {
    font-size: 14px;
    line-height: 1.6em;
}

.rcmd h3 {
    margin: 5px;
}



.shortwin {
    max-height: 320px;
    overflow-y: scroll;
}