/* styles.css */

/* Add styles here to customize the appearance of your app */
.CardBox {
    display: flex;
}

.Hub {
    display: none;
}

.Card {
    width: 12.5vw;
}

.Card .cardFace{
    width: 100%;
}

.Card .arrow {
    width: 20%;
    margin: 0px 40%;
    opacity: 0;
}



.CardSearch input{
    width: 80%;
    height: 30px;
    margin: 5px 2% 20px;
    font-size: 29px;
}

.cardHandle {
    display: flex;
}

.cardPos {
    width: 16%;
}

.cardPos button{
    height: 80%;
    width: 45%;
}

.cardBtn {
    width: 80px;
    height: 40px;
    margin: 0 5px;
}

.selection {
    width: 90%;
    margin: 0 auto;
}





.levelG button {
    width: 27%;
    height: 30px;
    padding: 0;
    border-color: #fff;
    border-style: solid;
}

.levelG .on {
    border-color: black;
}

.levelG .one {
    background-color: rgb(237, 229, 218);
}

.levelG .two {
    background-color: rgb(245, 190, 118);
}

.levelG .three {
    background-color: rgb(255, 255, 35);
}