/* styles.css */

.hide {
    display: none;
}

/* Add styles here to customize the appearance of your app */
.CardBox {
    display: flex;
}

.Hub {
    display: none;
}

.Card {
    width: 12.5vw;
}

.Card .cardFace {
    height: 21vw;
    width: 100%;
}

.Card .arrow {
    width: 17%;
    margin: 0px 41.5%;
    opacity: 0;
}



.CardSearch input {
    width: 80%;
    height: 30px;
    margin: 6px 1% 6px;
    font-size: 29px;
}

.cardHandle {
    display: flex;
}

.cardPos {
    width: 16%;
    margin: 6px 1% 6px;
}

.cardPos button {
    height: 100%;
    width: 45%;
}

.cardBtn {
    width: 80px;
    height: 40px;
    margin: 0 5px;
}

.selection {
    width: 90%;
    margin: 0 auto;
}





.levelG button {
    width: 27%;
    height: 30px;
    padding: 0;
    border-color: #fff;
    border-style: solid;
}

.levelG .on {
    border-color: black;
}

.levelG .one {
    background-color: rgb(237, 229, 218);
}

.levelG .two {
    background-color: rgb(245, 190, 118);
}

.levelG .three {
    background-color: rgb(255, 255, 35);
}


.CardBoxTitle {
    display: flex;
    color: #fff;
    margin: 3px auto;
}

.selfCardBoxTitle {
    background-color: #104578;
}

.enemyCardBoxTitle {
    background-color: #6c3636;
    flex-direction: row-reverse;
}

.CardBoxTitle h3 {
    font-size: 15px;
    margin: 0px 0px;
    padding: 0px 10px;
}

.enemyCardBoxTitle .cleanEnemyBox {
    font-size: 12px;
    border: none;
    padding: 0px 10px;
    margin: 0px 0px;
    background: #361c13;
    color: #d9cece;
}

.enemyCardBoxTitle .cleanEnemyBox:hover {
    background: #e3d8ce;
    color: #580000;
}