/* styles.css */

html {
    background: #dce5ce;
}

.scroll-box::-webkit-scrollbar {
    display: none;
}

.hide {
    display: none;
}

/* Add styles here to customize the appearance of your app */
.CardBox {
    display: flex;
}

.Hub {
    display: none;
}

.Card {
    width: 12.5vw;

    .cardFace {
        width: 100%;
        height: calc((100vw - 80px) * 1.66 / 8);
    }

    .arrow {
        width: 17%;
        margin: 0px 41.5%;
        opacity: 0;
    }
}


.CardSearch {
    input {
        width: 72%;
        height: 30px;
        margin: 6px 0.5% 6px;
        font-size: 29px;
    }

    .avatar {
        width: 90px;
    }

    .career {
        width: 90px;
    }

    img {
        width: 100%;
    }

    .cardHandle {
        display: flex;
    }

    .bar00 {
        display: flex;
        width: 100vw;
        align-items: flex-end;
    }

    .tip {
        span {
            background: #fff;
            margin: 0 5px;
        }
    }


    .preInput {
        width: 8%;
        margin: 6px 0.5% 6px;
        font-size: 29px;

        button {
            height: 35px;
            width: 100%;
        }
    }
}

.cardPos {
    width: 16%;
    margin: 6px 1% 6px;

    button {
        height: 35px;
        width: 45%;
        background: #ffffff;
        color: #000;
        border: 1px solid #333;
    }

    button:hover {
        background: #333;
        color: #fff;
    }
}

.cardBtn {
    width: 96px;
    height: 38px;
    margin: 3px 2px;
}

.selection {
    margin-top: 6px;
    width: 100%;
}


.levelG {
    button {
        width: 27%;
        height: 30px;
        padding: 0;
        border-color: #fff;
        border-style: solid;

    }

    .on {
        border-color: black;
    }

    .one {
        background-color: rgb(237, 229, 218);
    }

    .two {
        background-color: rgb(245, 190, 118);
    }

    .three {
        background-color: rgb(255, 255, 35);

    }
}





.CardBoxTitle {
    display: flex;
    color: #fff;
    margin: 3px auto;

    h3 {
        font-size: 15px;
        margin: 0px 0px;
        padding: 0px 10px;
    }
    
    span {
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        padding-left: 8px;
        border-left: 3px solid #00000059;

        input {
            margin: 0px 2px;
            border: none;
            color: #cfced9;
            text-align: center;
            width: 30px;
            background: #00000000;
        }
    }

    .resetBox {
        font-size: 12px;
        border: none;
        padding: 0px 10px;
        margin: 0px 0px;
        background: #0000006b;
        color: #d9cece;
    }

    .resetBox:hover {
        background: #ffffffc7;
        color: #000000;
    }
}

.selfCardBoxTitle {
    background-color: #104578;
}

.enemyCardBoxTitle {
    background-color: #6c3636;
}

.RoleInput {
    width: 80px;
    padding: 0 2px;
    font-size: 12px;

    select {
        border: none;
        width: 100%;
    }

    img {
        width: 100%;
    }
}

button {
    background: #ffffff;
    color: #000;
    border: 1px solid #333;
}

button:hover {
    background: #333;
    color: #fff;
}

.likeButton {
    background: #ffffff;
    color: #000;
    border: 1px solid #333;
}

.likeButton:hover {
    background: #333;
    color: #fff;
}